# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

ALU_DivisorLab2/ALU_DivisorLab2.cache/
ALU_DivisorLab2/ALU_DivisorLab2.hw/
ALU_DivisorLab2/ALU_DivisorLab2.ip_user_files/
ALU_DivisorLab2/ALU_DivisorLab2.runs/
ALU_DivisorLab2/ALU_DivisorLab2.sim/

*.wdf
*.xml
*.wpc
*.xml
*.rst
*.bit
*.vdi
*.rpt
*.rpx
*.dcp
*.pb
*.js
*.sh
*.log
*.jou
*.vdi
*.vds
*.html
*.bat
*.wdb
*.obj
*.info
*.wdm
*.tcl
*.dbg
*.reloc
*.rtti
*.xdbg
*.exe
*.sdb
*.rlx

ALU_DivisorLab2/ALU_DivisorLab2.cache/wt/gui_handlers.wdf
ALU_DivisorLab2/ALU_DivisorLab2.cache/wt/java_command_handlers.wdf
ALU_DivisorLab2/ALU_DivisorLab2.cache/wt/project.wpc
ALU_DivisorLab2/ALU_DivisorLab2.cache/wt/synthesis.wdf
ALU_DivisorLab2/ALU_DivisorLab2.cache/wt/webtalk_pa.xml
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/.init_design.begin.rst
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/.opt_design.begin.rst
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/.place_design.begin.rst
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/.route_design.begin.rst
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/.vivado.begin.rst
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/.write_bitstream.begin.rst
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/alu.bit
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/alu.tcl
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/alu.vdi
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/alu_12544.backup.vdi
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/alu_8940.backup.vdi
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/alu_bus_skew_routed.rpt
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/alu_bus_skew_routed.rpx
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/alu_clock_utilization_routed.rpt
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/alu_control_sets_placed.rpt
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/alu_drc_opted.rpt
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/alu_drc_routed.rpt
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/alu_io_placed.rpt
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/alu_methodology_drc_routed.rpt
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/alu_opt.dcp
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/alu_placed.dcp
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/alu_power_routed.rpt
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/alu_power_routed.rpx
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/alu_route_status.rpt
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/alu_routed.dcp
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/alu_timing_summary_routed.rpt
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/alu_timing_summary_routed.rpx
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/alu_utilization_placed.rpt
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/gen_run.xml
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/init_design.pb
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/ISEWrap.js
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/ISEWrap.sh
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/opt_design.pb
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/place_design.pb
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/project.wdf
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/route_design.pb
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/runme.log
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/runme.sh
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/usage_statistics_webtalk.html
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/usage_statistics_webtalk.xml
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/vivado.jou
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/vivado.pb
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/vivado_12544.backup.jou
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/vivado_8940.backup.jou
ALU_DivisorLab2/ALU_DivisorLab2.runs/impl_1/write_bitstream.pb
ALU_DivisorLab2/ALU_DivisorLab2.runs/synth_1/.vivado.begin.rst
ALU_DivisorLab2/ALU_DivisorLab2.runs/synth_1/.Xil/alu_propImpl.xdc
ALU_DivisorLab2/ALU_DivisorLab2.runs/synth_1/alu.dcp
ALU_DivisorLab2/ALU_DivisorLab2.runs/synth_1/alu.tcl
ALU_DivisorLab2/ALU_DivisorLab2.runs/synth_1/alu.vds
ALU_DivisorLab2/ALU_DivisorLab2.runs/synth_1/alu_utilization_synth.rpt
ALU_DivisorLab2/ALU_DivisorLab2.runs/synth_1/gen_run.xml
ALU_DivisorLab2/ALU_DivisorLab2.runs/synth_1/ISEWrap.js
ALU_DivisorLab2/ALU_DivisorLab2.runs/synth_1/ISEWrap.sh
ALU_DivisorLab2/ALU_DivisorLab2.runs/synth_1/project.wdf
ALU_DivisorLab2/ALU_DivisorLab2.runs/synth_1/runme.log
ALU_DivisorLab2/ALU_DivisorLab2.runs/synth_1/runme.sh
ALU_DivisorLab2/ALU_DivisorLab2.runs/synth_1/vivado.jou
ALU_DivisorLab2/ALU_DivisorLab2.runs/synth_1/vivado.pb
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/alu.vcd
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/compile.bat
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/compile.log
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/elaborate.bat
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/elaborate.log
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/simulate.bat
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/simulate.log
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/testbench_behav.wdb
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/webtalk.jou
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/webtalk.log
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/obj/xsim_0.win64.obj
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/webtalk/.xsim_webtallk.info
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/webtalk/usage_statistics_ext_xsim.html
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/webtalk/usage_statistics_ext_xsim.wdm
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/webtalk/usage_statistics_ext_xsim.xml
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/webtalk/xsim_webtalk.tcl
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsim.dbg
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsim.mem
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsim.reloc
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsim.rlx
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsim.rtti
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsim.xdbg
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsimk.exe
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsimkernel.log
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/@b@c@dto@s@seg.sdb
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/alu.sdb
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/display.sdb
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/glbl.sdb
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/sh_l.sdb
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/sh_r.sdb
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/testbench.sdb
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/xil_defaultlib.rlx
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/zero.sdb
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/xvlog.log
ALU_DivisorLab2/ALU_DivisorLab2.sim/sim_1/behav/xsim/xvlog.pb
SimulacionIcarus/alu.vcd
